  @media (min-width: 1150px) {
    .todo__page {
      margin: 0 auto;
      width: 100%;
    }
  }

  @media (min-width: 600px) {
    .container {
      width: 600px;
      margin: 0 auto;
    }
  }

  .lb1 {
    margin: 2em;
  }
  #highload1 {       
    display: none;
  }
  #highload1+.lb1, #highload1+.lb1::before, #highload1+.lb1::after {
    transition: all .3s;
  }
  #highload1+.lb1 {
    display: inline-block;
    position: relative;
    width: 45px;
    height: 20px;
    border-radius: 30px;
    cursor: pointer;
  }
  #highload1+.lb1::before {
    display: block;
    content: attr(data-offlabel);
    position: absolute;
    top: 18px;
    right: 10px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
  }
  #highload1+.lb1::after {
  border-radius: 50%;
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 15px;
    background-color: white;          
  }
  #highload1:checked+.lb1::before {
    content: attr(data-onlabel);
    left: 16px;
    right: auto;
    color: #fff;
  }
  #highload1:checked+.lb1::after {
    left: 20px;
    background-color: #f7f7f7;
  }
  
  #highload1+.lb1 {             
    background-color: #ccc;
  }
  #highload1:checked+.lb1 {
    background-color: green;
  }
  #highload1:checked+.lb1::before {
    color: #fff;
  }

  .todo__page__container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .handle__buttons {
    width: 50px;
  }